.gameContainer {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#playerCards, #dealerCards, #dealerBack1, #dealerBack2 {
    margin: 1% 0% 1% 0%;
}

.gameButtons {
    display: flex;
    flex-direction: row;
}

.gameButtons p {
    margin: auto 1% auto 1%;
}

#hit, #stand {
    cursor: pointer;
    margin-right: 1%;
}

a {
    margin-right: 1%;
}

p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: xx-large;
}