body {
    background-color: #30415D;
    color: #fff;
    font-family: Lato, sans-serif;
    letter-spacing: .1em;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}



/* Buttons Styles */
button {
    border: 0;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: rgb(2, 2, 2);
    cursor: pointer;
    font-family: Lato;
    font-size: 25px;
    margin: 10px auto;
    padding: 10px 0;
    width: 170px;
}

button:hover {
    background-color: rgb(102, 101, 101);
}

#playButton {
    margin-top: 20px;
    width: 150px;
}

.gameTable div {
    display: inline-block;
    max-width: 35%;
    margin: 0 20px;
    vertical-align: middle;
    width: 200px;
    border: #ff0000;
}

#gameArea {
    margin-top: 100px;
}

#gameBoard {
    margin: auto;
    padding: 30px 0;
    width: 90%;
}

/* img {
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
    width: 100%;
} */

.hidden {
    visibility: hidden;
}

#warButton {
    display: none;
}